<div class="chatBlock">
  <a href="/<%= encodeURIComponent(user) %>">
    <div>
      <p><%= user %></p>
      <p><%= text %></p>
      <div>
        <p><%= time %></p>
        <p><%= date %></p>
      </div>
    </div>
  </a>
</div>
